@font-face{
	font-family: Gotham-Medium;
	src: url(../fonts/gotham-medium.otf);
}

@font-face{
	font-family: Gotham-Thin;
	src: url(../fonts/gotham-thin.otf);
}

@font-face{
	font-family: Gotham-Book;
	src: url(../fonts/gotham-book.ttf);
}

*{
	margin: 0;
	padding: 0;
}
.nav{

}
.nav img{
	padding: 14px 0 15px 0;
}
.list{
	
}
.list a{
	/*text-decoration: none;*/
	font-family: "Gotham-Medium";
	float: right;
	font-size: 14px;
	color: #96a6a7;
	margin-right: 3%;
	display: block;
	padding: 28px 5px 26px 5px;


}
.list a:hover{
	color: black;
	text-decoration: none;
}
.list a:active{
	text-decoration: none;
}
.list li{
	list-style-type: none;
}
.list ul{
	margin: 0;
	text-decoration: none;
}
.search{
	text-align: center;
	background-color: #e2dee0;
}
.search a{
	display: block;
	padding: 24px 0 24px 0;
}
.search:hover{
	/*color: black;*/

	background-color: black;
}
.user{
	
	text-align: right;
}
.user a{
	text-decoration:none;
	font-family: "Gotham-Medium";
	color: white;
	display: block;
	padding: 27px 0 27px 0;
}
.user a:hover{
	text-decoration: none;

}
.filter{
	background-image: url(C:/Users/Asus/Desktop/duhoot/images/bgsearch2.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.filtercontent{
	text-align: center;

}
.filtercontent h2{
	font-size: 30px;
	color: white;
	margin-top: 59px;
	margin-bottom: 0;
}
.dubai{
		
}
#country{
	padding: 15px 32px;
	width: 240px;
	border-radius: 40px;
	/*opacity: 0.1;*/
	color: white;
	font-family: "Gotham-Book";
	outline: none;
	z-index: 1;
	background: rgba(255, 255, 255, 0.1);
	border:1px solid rgba(255, 255, 255, 0.2);
	font-size: 18px;
}
#country:focus{
	outline: none;
	border:1px solid rgba(255, 255, 255, 0.5);
}
#edu:focus{
	/*border: 2px solid green;*/
	outline: none;
	border:1px solid rgba(255, 255, 255, 0.5);
}
.education{

}
#edu{
	padding: 15px 32px;
	width: 240px;
	border-radius: 40px;
	/*opacity: 0.1;*/
	
	font-family: "Gotham-Book";
	outline: cover;
	background: rgba(255, 255, 255, 0.1);
	border:1px solid rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 18px;
}
#kname{
	font-family: "Gotham-Book";
	padding: 15px 32px;
	width: 520px;
	border-radius: 40px;
	/*opacity: 0.1;*/
	color: white;
	outline: none;
	outline: none;
	border:1px solid rgba(255, 255, 255, 0.2);
	margin-top: 10px;
	 background: rgba(255, 255, 255, 0.1);
	 font-size: 18px;
}
#kname:focus{
	/*box-shadow: 0 0 3pt 2pt white;*/
	outline: none;
	border:1px solid rgba(255, 255, 255, 0.5);
}
option{
	border-radius: 10px;
	background-color: gray;
}
input::-webkit-input-placeholder {
     color: white; /*Change the placeholder color*/
     opacity: 2;}
input[type=submit]{
	padding: 16px 24px;
	margin-top: 28px;
	margin-bottom: 38px;
	border-radius: 50px;
	font-family: "Gotham-Book";
	font-size: 18px;
	color: white;
	background-color: #e94e38;
	border: 2px solid #e94e38;
	font-style: bold;
}
input[type=submit]:focus{
	outline: none;
	border: 2px solid red;
}
.nav2{
	/*background-color: gray;*/
}
.nav2l{

}
.nav2l a{
	text-decoration: none;
	font-family: "Gotham-Medium";
	font-size: 12px;
	float: left;
	margin-right: 24px;
	margin-top: 23px;
	margin-bottom: 23px;
	padding: 0;
}
.nav2l a:hover{
	text-decoration: none;

}
.nav2c{
	te
}
.dubai2{
	font-family: "Gotham-Medium";
	font-size: 12px;
	padding: 7px 19px;
	border-radius: 35px;
	border: 1px solid rgba(150, 166, 167, 0.5);
	outline: none;
	margin-top: 11px;
	margin-bottom: 11px;
	float: left;
	margin-right: 8px;
	color: #e94e38;

}
.nav2l a{
	color: #96a6a7;
}
.dubai2:focus{
	outline: none;
	border: 1px solid rgba(150, 166, 167, 1);
	border-radius: 35px;
}
.filter2{
	text-align: right;
}
.filter2 p{
	margin: 0;
	color: #96a6a7;
	font-family: "Gotham-Medium";
	font-size: 12px;
}
.btnHome{
	background-color: #1baf5d;
	margin: 8px 4px;
	outline: none;
	border-radius: 50px;
	border-style: none;
	width: 40px;
	height: 40px;
}
.btnNurse{
	background-color: #b6c0c1;
	margin:8px 4px;
	outline: none;
	border-radius: 50px;
	border-style: none;
	width: 40px;
	height: 40px;
}

.btnEdu{
	background-color: #b6c0c1;
	margin: 8px 4px;
	outline: none;
	border-radius: 50px;
	border-style: none;
	width: 40px;
	height: 40px;

}

.btnMusic{
	background-color: #f19e1f;
	margin: 8px 4px;
	outline: none;
	border-radius: 50px;
	border-style: none;
	width: 40px;
	height: 40px;
}

.btnBus{
	background-color: #88499c;
	margin: 8px 4px;
	outline: none;
	border-radius: 50px;
	border-style: none;
	width: 40px;
	height: 40px;
}
.btnHome:focus{
	background-color: #1baf5d;
}
.content{
	background-color: #f3f1f2;
}
.row1{
	background-color: white;
	text-align: center;
	padding: 0;
	width: fit-content;
	/*margin: 0 26px;*/
	margin-top: 15px;
	/*margin-left: 82.5px;*/
}
.r1top {
	border-bottom: 3px solid #1baf5d;
	overflow: hidden;
}
.r1top img{
	/*position: relative;*/
	/*filter: blur(2px);*/
	width: 100%;
	position: relative;

}
.r1bottom{
	position: relative;
	margin-top: 30px;
}
.r1bottomp{
	letter-spacing: -0.15em;
	padding-bottom: 15px;
}
.r1btmLeftDiv{
	float: left;
	height: 57px;
	width:57px;
	overflow: hidden;
	margin-top: 50px;
	margin-left: 20px;
	border: 3px solid #e2dee0;
	border-radius: 50px;
	clear: both;

	margin-right: 20px;
}

.r1btmLeftDiv img{
}

#homebig:hover .gradient{
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0 ,0, 1) );
}
.visionAgency{
	text-transform: uppercase;
	position: absolute;
	top :112px;
	left: 108px;
	z-index: 2;
}
.r1btmRightDiv{
	float: left;
	text-align: left;
	margin-top: 0px;
	width: 355px;
}
.gradient{
	width: 455px;
	height: 120px;
	background: linear-gradient(rgba(0, 0, 0, 0),rgba(0,0 ,0, 0.7) );
	transition: background 2s;
	/*opacity: 0.5;*/
	position: absolute;
	z-index: 1;
	top: 15px;
}
.r1btmRightDiv .p1{
	font-family: "Gotham-Book";
	margin-top: 0px;
	color: #566375;
}
.r1btmRightDiv button{
	background: none;
	border: none;
	color: #566375;;
	font-family: "Gotham-Medium";
	text-decoration: solid;
}

.r1btmRightDiv button:focus{
	outline: none;
}

#p1clicked{
	display: none;
	transition: display 0.5s;
}

#p1clicked2{
	display: none;
	transition: display 0.5s;
}
#p1clicked3{
	display: none;
	transition: display 0.5s;
}
#p1clicked4{
	display: none;
	transition: display 0.5s;
}

.p1{
	font-family: "Gotham-Medium";
	color: #566375;
	font-size: 14px; 
	margin-top: 28px;
}
.p2{
	font-family: "Gotham-Medium";
	color: #1baf5d;
	font-size: 12px;
	text-transform: uppercase;

}
.clear{
	clear: both;
}
.r1bottom i{
	margin: 0;
	padding: 0;
}

.atag{
	text-decoration: none;
	width: fit-content;
	display: block;
	margin: 0 auto;

}
.atag:hover {
	text-decoration: none;
	

}
.atag:hover .r1top img{
	filter: blur(2px);
}
.atag:hover .whover {
	display: block;
	opacity: 1;
}
.atag:active{
	text-decoration: none;
}
.homebig{
	background-color: #1baf5d;
	position: absolute;
	z-index: 2;
	border-radius: 70px;
	width: 55px;
	height: 55px;
	margin-top: 115px;
	border: 3px solid white;
	margin-left: 76px;

}
.homebig img{
	margin: 10px;
}
.whover{
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 210.5px;
	height: 143px;
	background: rgba(27, 175, 93, 0.4);
	/*display: none;*/
	transition: opacity 1s;
	opacity: 0;
}
.whover p{
	margin-top: 16px;
	letter-spacing: -0.15em;
}
.whover p i{
	margin: 0;
	padding: 0;
}
.whover button{
	background:rgba(27, 175, 93, 0.7);
	border: 2px solid white;
	border-radius: 30px;
	font-family: "Gotham-Medium";
	font-size: 12;
	padding:7px 15px ;
	color: white;
	margin-top: 22px;
}
.atag:hover .whovermusic{
	/*display: block;*/
	opacity: 1;
	z-index: 1;
}
.atag:hover .r1musictop img{
	filter: blur(2px);
}
.whovermusic{
	position: absolute;
	/*z-index: 1;*/
	text-align: center;
	width: 210.5px;
	height: 143px;
	background: rgba(241, 158, 31, 0.4);
	/*display: none;*/
	opacity: 0;
	transition: opacity 1s;
}

.whovermusic p{
	margin-top: 16px;
	letter-spacing: -0.15em;
}
.whovermusic p i{
	margin: 0;
	padding: 0;
}
.whovermusic button{
	background:rgba(241, 158, 31, 0.7);
	border: 2px solid white;
	border-radius: 30px;
	font-family: "Gotham-Medium";
	font-size: 12;
	padding:7px 15px ;
	color: white;
	margin-top: 22px;
}

.musicbig{
	background-color: #f19e1f;
	position: absolute;
	z-index: 2;
	border-radius: 70px;
	width: 55px;
	height: 55px;
	margin-top: 115px;
	border: 3px solid white;
	margin-left: 76px;

}
.musicbig img{
	margin: 12px;
}
.r1musictop{
	border-bottom: 3px solid #f19e1f;
}
.r1musicbottom{
	position: relative;	
	margin-top: 30px;
}
.r1musicbottom .p2{
	color: #f19e1f;
}

.atag:hover .whoverbus{
	display: block;
	z-index: 1;
	opacity: 1;
}
.atag:hover .r1bustop img{
	filter: blur(2px);
}
.whoverbus{
	position: absolute;
	/*z-index: 1;*/
	text-align: center;
	width: 210.5px;
	height: 143px;
	background: rgba(136, 73, 156, 0.4);
	/*display: none;*/
	opacity: 0;
	transition: opacity 1s;
}

.whoverbus p{
	margin-top: 16px;
	letter-spacing: -0.15em;
}
.whoverbus p i{
	margin: 0;
	padding: 0;
}
.whoverbus button{
	background:rgba(136, 73, 156, 0.7);
	border: 2px solid white;
	border-radius: 30px;
	font-family: "Gotham-Medium";
	font-size: 12;
	padding:7px 15px ;
	color: white;
	margin-top: 22px;
}

.busbig{
	background-color: #88499c;
	position: absolute;
	z-index: 2;
	border-radius: 70px;
	width: 55px;
	height: 55px;
	margin-top: 115px;
	border: 3px solid white;
	margin-left: 76px;

}
.busbig img{
	margin: 12px;
}
.r1bustop{
	border-bottom: 3px solid #88499c;
}
.r1busbottom{
	position: relative;	
	margin-top: 30px;
}
.r1busbottom .p2{
	color: #88499c;
}

.atag:hover .whoer21{
	display: none;
}
.homebig2{
	background-color: #1baf5d;
	position: absolute;
	z-index: 2;
	border-radius: 70px;
	width: 55px;
	height: 55px;
	margin-top: 93px;
	border: 3px solid white;
	margin-left: 22px;
}


.homebig2 img{
	margin: 10px;
}

.lucip{
	font-family: "Gotham-Medium";
	font-size: 16px;
	color: #566375;
}

.lucip a{
	color: white;
	text-decoration: none;
}
.lucip a:hover{
	text-decoration: none;
}


.loadmore{
	font-family: "Gotham-Medium";
	font-size: 18px;
	color: #566375;
	background: none;
	border: none;
}

.loadmore:focus{
	outline: none;
}
.whatDuhootDiv{
	text-align: center;
}
.whatDuhoot{
	font-family: "Gotham-Medium";
	font-size: 22px;
	color: #566375;

}

.btmWhatDuhoot{
	font-family: "Gotham-Book";
	font-size: 16px;
	color: #566375;
}
.icons img{
	padding: 18px;
}

.iconboder{
	border:2px solid #9dacad;
	width: cover;
	float: left;
	border-radius: 50px;
}
.icons hr{
	float: left;
	width: 70px;
	color: #000;
	z-index: 1;
	margin:46px 5px 0 5px;
	border: 1px solid #e2dee0;
}

.reality{
	text-align: center;
}

.reality p{
	font-family: "Gotham-Medium";
	font-size: 24px;
	color: #1baf5d;
}

.Real div{
	float: left;
}

.rpdiv{
	width: 280px;
	font-family: "Gotham-Book";
	font-size: 14px;
	color: #566375;
}

.backicon{
	border: none;
	background-color: #1db05e;
	padding: 10px;
	border-radius: 50px;
	margin-right: 30px;
}

.footer{
	background-image: url('C:/Users/Asus/Desktop/duhoot/images/gbfooter.png');
	background-size: cover;
}

.sub{
	font-family: "Gotham-Medium";
	font-size: 24px;
	color: white;
	margin-top: 50px;
}

.footer .row{
	text-align: center;
}
.footer input{
	padding: 15px 135px 15px 50px;
	background-color: white;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 50px;
	width: 480px;
	font-family: "Gotham-Book";
	font-size: 18px;
	color: white;
	position: relative;
	margin-top: 30px;
}

.footer input:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.8);
}

.footer button{
	padding: 16px 23px 15px 23px;
	border: none;
	border-radius: 50px;
	background-color: #e94e38;
	color: white;
	font-family: "Gotham-Medium";
	font-size: 14px;
	position: absolute;
	right: 436px;
	margin-top: 33px;


}
.footer .mail{
	position: absolute;
	margin-top: 51px;	
	left: 454px;
}

.footer button:focus{
	outline: none;
}

.footer button:hover{
	background-color: #ff2c0e;
}
.footer h3{
	font-family: "Gotham-Medium";
	font-size: 16px;
	color: white;
}
.footer ul, h3{
	text-align: left;
}
.footer li{
	text-decoration: none;
	list-style-type: none;
	font-size: 14px;
	color: #c0bebc;
	font-family: "Gotham-Book";
	

}
.fa{
	font-size: 14px;
	color: #c0bebc;
	font-family: "Gotham-Book";

}
.fa:hover{
	text-decoration: none;
}

.folow{
	display: inline;
	margin-right: 10px;
}
.copy{
	font-family: "Gotham-Book";
	font-size: 14px;
	color: #fff;
}

.layer{
	width: 1349px;
	height: 470px;
	background: rgba(0,0,0,0.7);
	/*position: absolute;*/
	/*top: 0;*/
}

.hid {
	display: none;
}